<h1>Add The following Quantity to certain Shop</h1>
<%if false%>
 <div class="field">
    <%= @glass.label :frame_kind %><br>
    <%if false%>
    <%= f.text_field :frame_kind %>
    <%end%>
    <%= f.select :frame_kind, options_for_select(%w[Full_Frame Half_Frame Frameless Mask])%>
  </div>
  <%end%>
